/* Form layout container */
.loginform-layout {
  display: flex;
  width: 100%;
  justify-content: center;
}

.loginform-layout h1 {
  text-align: left;
  color: #535353;
  font-size: 130%;
  padding-bottom: 10%;
}

/* Form container styling */
.loginform-container {
  flex: 1;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: none;
}

.loginform-label {
  display: block;
  color: #808080;
  font-size: 0.9rem;
}
/* Input field styling */
.loginform-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  background-color: #f5f5f5;
}

/* Button styling */
.loginform-button {
  margin-top: 5%;
  width: 100%;
  padding: 12px;
  background-color: #6495ed;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.loginform-button:hover {
  background-color: #537bc5;
}

/* Password visibility toggle */
.password-container {
  position: relative;
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: -10px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 1.2rem;
}

.password-toggle:hover {
  color: #6495ed;
}

.remember-me label {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  white-space: nowrap;
  font-weight: normal;
  font-size: 90%;
  color: #5f5f5f;
}

.logintoggle-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.logintoggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.loginslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.loginslider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .loginslider {
  background-color: #6495ed;
}

input:checked + .loginslider:before {
  transform: translateX(14px);
}

.forgot-password {
  margin-left: auto;
}

.forgot-password a {
  color: #6495ed;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
  color: #537bc5;
}

.login-links {
  text-align: center;
  color: #5f5f5f;
}

.dob-input {
  color: #5f5f5f;
  cursor: pointer;
}

.dob-input::-webkit-calendar-picker-indicator {
  filter: invert(36%) sepia(60%) saturate(400%) hue-rotate(200deg);
  cursor: pointer;
  width: 20px;
  height: 20px;
}
