.settings-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}



.settings-container {
  max-width: 900px;
  margin: 3rem auto;
  padding: 1.5rem;
  width: 100%;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.settings-container h2 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}



.settings-section {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}



.settings-section h3 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}



.settings-form-group {
  margin-bottom: 1.6rem;
}

.settings-form-group label {
  display: block;
  margin-bottom: 0.8rem;
  font-weight: 500;
  font-size: 1.1rem;
}



.settings-form-group input,
.settings-form-group textarea,
.settings-form-group select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}


.settings-form-group input:focus,
.settings-form-group textarea:focus,
.settings-form-group select:focus {
  border-color: #0066cc;
  outline: none;
}

.settings-form-group textarea {
  resize: vertical;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input {
  width: auto;
  margin-right: 1rem;
}

.action-link {
  display: inline-block;
  padding: 0.5rem 0;
  color: #0066cc;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  background-color: white;
}


.action-link:hover {
  text-decoration: underline;
  color: #0052a3;
}

.Settings-delete {
  color: #cc0000;
  background-color: white;
  margin-left: -22px;
}

.Settings-delete:hover {
  color: #ff4d4d;
}

.save-button {
  background-color: #486fb6;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 200px;
  margin-top: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.save-button:hover {
  background-color: #0052a3;
  transform: translateY(-2px);
}



.settings-page .error-message,
.settings-page .password-error-message {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #ffebeb;
  color: #cc0000;
  border-radius: 6px;
  font-weight: 500;
}



.settings-page .password-error-message {
  margin-top: 1rem;
}

.settings-page .password-error-message span {
  font-weight: bold;
}
